@import url(http://fonts.googleapis.com/css?family=Open+Sans:300);
@import url(http://fonts.googleapis.com/css?family=Merriweather:300italic);

body {
  font-family: 'Open Sans', sans-serif;
}

h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6 {
  font-family: 'Open Sans', sans-serif !important;
  font-weight: 300 !important;
  color: #4A4A4A;
}

section.empty {
  padding: 80px 0;
}

/*------- Header --------*/

.header-10 .navbar .brand {
  border: 2px solid #fff;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  letter-spacing: 0;
  margin-top: 14px;
  padding: 8px 10px;
  text-transform: uppercase;
}

@media all and (max-width: 480px) {
  .header-10 .navbar {
    text-align: center;
  }
  .header-10 .navbar .brand {
    float: none;
    display: inline-block;
  }
}

.home .header-10-sub .background {
  background-image: url('../images/bg.jpg');
  opacity: 1;
}

.home .header-10-sub .hero-unit h1 {
  color: #fff;
  font-family: 'Open Sans', sans-serif;
  font-size: 59px;
  text-transform: uppercase;
  border: 2px solid #fff;
  margin: 0 auto 50px;
  padding: 21px 47px;
  display: inline-block;
}

.home .header-10-sub .hero-unit p {
  font-family: 'Open Sans', sans-serif;
  font-size: 38px;
  line-height: 52px;
  margin-bottom: 40px;
}

.home .header-10-sub .hero-unit p i {
  color: #B72D44;
  font-style: normal;
}

.home .header-10-sub .hero-unit p.small {
  font-family: 'Merriweather', serif;
  font-size: 20px;
  line-height: 30px;
  font-style: italic;
  margin: 0 20%;
}

.projects-1 {
  padding-top: 0;
}

@media all and (max-width: 768px) {
  .home .header-10-sub .hero-unit h1 {
    font-size: 8vw;
    margin: 0 auto 8vw;
    padding: 2.5vw 6vw;
  }
  .home .header-10-sub .hero-unit p {
    font-size: 6vw;
    line-height: 8vw;
  }
  .home .header-10-sub .hero-unit p.small {
    font-size: 2.2vw;
    line-height: 4vw;
  }
}

@media all and (max-width: 480px) {
  .home .header-10-sub .hero-unit h1 {
    font-size: 9vw;
  }
  .home .header-10-sub .hero-unit p {
    font-size: 28px;
    line-height: 36px;
  }
  .home .header-10-sub .hero-unit p.small {
    font-size: 3.6vw;
    line-height: 6vw;
    margin: 0 10%;
  }
}

/*------- Portfolio --------*/

.projects {
  margin-bottom: 110px;
}

.project {
  color: #fff;
  height: 480px;
  background-repeat: no-repeat;
  background-position: bottom right;
}

.project h4 {
  color: #fff;
  margin-top: 40px;
}

.project p {
  font-size: 16px;
}

.twealr {
  background-color: #80C0CF;
  background-image: url('../images/porto-twealr.png');
}

.fmt {
  background-color: #84D7C7;
  background-image: url('../images/porto-fmt.png');
}

.fmt {
  background-color: #84D7C7;
  background-image: url('../images/porto-fmt.png');
}

.conx {
  background-color: #D6A284;
  background-image: url('../images/porto-conx.png');
}

@media all and (min-width: 768px) and (max-width: 1024px) {
  .project {
    background-size: 800px auto;
    background-position: 230px bottom;
    height: 400px;
  }
}

@media all and (min-width: 480px) and (max-width: 768px) {
  .project {
    background-size: 600px auto;
    background-position: 170px bottom;
    height: 300px;
  }
  .project h4 {
    margin-top: 20px;
  }
}

@media all and (max-width: 480px) {
  .project {
    background-size: 400px auto;
    height: 300px;
  }
  .project h4 {
    margin-top: 20px;
  }
  .project h4, .project p {
    text-align: center;
  }
}

/*------- Clients --------*/

.clients {
  background: #F4F4F4;
  margin-bottom: 110px;
  padding: 40px 0 0;
}

.clients .row {
  text-align: justify;
  margin-bottom: 40px
}

.clients .row:after {
  content: '';
  width: 100%; /* Ensures there are at least 2 lines of text, so justification works */
  display: inline-block;
}

.clients img {
  display: inline-block;
}

@media all and (min-width: 768px) and (max-width: 1024px) {
  .clients img {
    max-width: 10vw;
  }
}

@media all and (max-width: 768px) {
  .clients {
    display: none;
  }
}

/*------- Advantages --------*/

.content-4 {
  padding-top: 0;
}

.content-4 .features {
  text-align: center;
}

.content-4 .features > [class*="col-sm-"] {
  padding-top: 0;
}

.content-4 .features > [class*="col-sm-"] > img:first-child {
  position: static;
  margin-bottom: 20px;
}

/*------- Footer --------*/

.footer {
  background: #D8D8D8;
  color: #4A4A4A;
  padding: 40px 0;
}
.footer .info {
  text-align: right;
  color: #4A4A4A;
}
.footer h2 {
  margin-top: 0;
  line-height: 54px;
  color: #4A4A4A;
  font-size: 30px;
}

.footer a {
  color: #4A4A4A;
  font-weight: 300;
}
.footer a:hover {
color: #B72D44;
}


/*------- Jobs --------*/

.jobs .header-10-sub {
  height: 300px;
}

.jobs .header-10-sub .background {
  background-image: url('../images/bg2.jpg');
  opacity: 1;
}

.jobs .header-10-sub h1 {
  font-size: 85px;
}

@media all and (max-width: 768px) {
  .jobs .header-10-sub h1 {
    font-size: 65px;
  }
}

@media all and (max-width: 480px) {
  .jobs .header-10-sub h1 {
    font-size: 45px;
  }
}

.jobs .content-31 {
  padding-top: 0;
}

.jobs .content-31 .container .active h3 {
  color: #B72D44;
}

.jobs .content-31 .container .active > .number {
  background: #B72D44;
}

.jobs .content-31 .container .row:first-child {
  opacity: 1;
}

/*------- Work --------*/

.works .header-10-sub {
  height: 540px;
}

.works .header-10-sub.twealr-bg .background {
  background-image: url('../images/twealr-bg.jpg');
  opacity: 1;
}

.works .header-10-sub h1 {
  font-size: 85px;
}

.works .content-24 .image {
  margin-top: -100px;
  right: 40%;
}

.works .content-33 blockquote {
  color: #fff;
}
.works .content-33 footer {
  color: #fff;
}

.facts span {
}
